/* -- FORM -- */
#form-row *,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

#form-row {
    background-color: #f2f2f2;
}

#form-title {
    background-color: #e8e8e8;
}

/* -- PROFILE CARD -- */
.cover-img-container,
#cover-img {
    min-height: 13em;
    max-height: 14em;
}

#cover-img {
    object-fit: cover;
    object-position: center;
}

.profile-img {
    top: 8em;
    left: 50%;
    transform: translateX(-50%);
}

.profile-img img {
    object-fit: cover;
    object-position: top center;
    max-width: 9em;
    height: 9em;
}

.profile-description {
    top: 3em;
}

#social-media-nav {
    top: 0em;
}

#social-media-nav ul {
    background-color: #42d2cb;
}

#social-media-nav ul li a:hover {
    background-color: #2fc5be;
}